/* Reset atributtes */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.background {
  bottom: 0;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.main {
  display: grid;
  font-size: 1.6rem;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
.main__logo {
  display: flex;
  max-width: 49rem;
  pointer-events: none;
  width: 100%;
}
.main__top {
  color: white;
  display: grid;
  gap: 0.4rem;
  height: max-content;
  text-align: center;
}
.main__middle {
  align-self: center;
  justify-self: center;
}
.main__bottom {
  display: grid;
  gap: 2rem;
  max-width: 39.6rem;
  width: 100%;
}

.routes:last-child {
  width: 100%;
}
.routes__menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.routes__title {
  align-items: center;
  display: flex;
  height: 4rem;
  position: relative;
  transition: 0.3s;
}
.routes__title-contain {
  color: white;
  height: max-content;
  text-align: end;
  transition: 0.3s;
  z-index: -1;
}
.routes__icon {
  align-items: center;
  color: white;
  display: flex;
  font-size: 3rem;
  height: 4rem;
  justify-content: center;
  width: 3.8rem;
  z-index: 1;
}

.personal {
  flex-direction: column;
}
.personal__list {
  display: flex;
  justify-content: center;
  width: 100%;
}
.personal__item {
  align-items: center;
  display: grid;
  font-size: 2.4rem;
  grid-template-columns: 1fr 3rem;
  justify-content: center;
  transition: 0.3s;
  width: max-content;
}

.work {
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
}
.work__item {
  display: block;
  padding: 0.5rem;
}

@media (min-width: 904.98px) {
  .main {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }
  .main__logo {
    width: 49rem;
  }
  .main__top {
    text-align: start;
  }
  .main__bottom {
    align-self: flex-end;
    display: block;
  }
  .routes {
    font-size: 2rem;
  }
  .routes:first-child {
    grid-row: 2/3;
    justify-self: center;
    width: auto;
  }
  .routes__title {
    height: 3.8rem;
    /* opacity: 1; */
  }
  .routes__title--desktop {
    justify-content: flex-end;
  }
  .routes__title-contain--desktop {
    align-items: center;
    display: flex;
    position: absolute;
    width: max-content;
  }
  .personal__list {
    justify-content: flex-end;
  }
  .personal__item {
    justify-content: flex-end;
    overflow: hidden;
    width: 15rem;
  }
  .personal__item:hover {
    translate: 725px;
    padding: 0.25rem;
  }
  .personal__item:hover .routes__title {
    opacity: 1;
  }
}
